@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
p {
    margin-top: 0;
}
a {
    text-decoration: none;
    color: #F1F6F9;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #212A3E;
    color: #F1F6F9;
    font-family: 'Lato', sans-serif;
}
footer {
    width: 100%;
    min-height: 100px;
    background-color: #24292F;
    display: flex;
    align-items: center;
}
.copyright {
    margin-left: 117px;
}
/* header start */
header {
    margin: 0 50px 0 50px;
    display: flex;
    min-height: 100px;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
}
.header-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.page-title {
    font-size: 30px;
    margin-left: 40px;
}
.navigator-container {
    flex-grow: 1;
    justify-content: right;
    display: flex;
    margin-right:80px;
    font-size: 25px;
    overflow: hidden;
}
.header-bar {
    height: 5px;
    width: calc(100%);
    background-color: #394867;
}
/* header end */
/* main start */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow:1;
    margin: 80px 20%;
}
.introduction {
    display: flex;
    align-items: center;
}
.introduction-profile-image {
    position:relative;
    background-image: url("/assets/images/profile-transparent.png");
    width: 86px;
    height: 86px;
    background-size: contain;
    background-color: #F1F6F9;
    border-radius: 50%;
}
.introduction-text {
    margin-left: 76px;
}
.main-list-item {
    margin-top: 60px;
    display: flex;
}
.main-list-title {
    font-weight: 700;
    min-width: 140px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.main-list-title > p {
    padding:3px 0 3px 10px;
    background-color: #00427E;
    border-right: #F1F6F9 solid 3px;
}
/* main end */

@media(width<768px) {
    .main {
        margin: 80px 5%;
    }
    header {
        margin: 0 10px;
    }
    .page-title {
        font-size: 20px;
        margin-left: 10px;
    }
    .navigator-container {
        font-size: 15px;
        margin-right:20px;
    }
    .main-list-title {
        min-width: 86px;
        margin-right:10px;
    }
    .main-list-title > p {
        border-right: none;
    }
    .main-list-item {
        flex-direction: column;
    }
    .copyright {
        margin-left: 30px;
    }
}