@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply bg-bg font-SUITRegular;
    }

    h1, h2, h3, h4, h5, h6, nav {
        @apply font-GmarketSansMedium;
    }
}

@layer utilities {
    .underline-animate {
        position: relative;
    }
    .underline-animate:before {
        content:"";
        position: absolute;
        right: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: theme('colors.main-theme');
        transition: all .5s;
    }
    .underline-animate:after {
        content:"";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: theme('colors.main-theme');
        transition: all .5s;
    }
    .underline-animate:hover:before {
        width: 50%
    }
    .underline-animate:hover:after {
        width: 50%
    }

    .markdown-body h1 {
        @apply text-3xl font-bold my-4;
    }

    .markdown-body h2 {
        @apply text-2xl font-semibold my-3;
    }

    .markdown-body h3 {
        @apply text-xl font-semibold my-2;
    }

    .markdown-body p {
        @apply my-2;
    }

    .markdown-body ul {
        @apply list-disc ml-5;
    }

    .markdown-body ol {
        @apply list-decimal ml-5;
    }
    .markdown-body a {
        @apply text-blue-600 hover:text-blue-800;
    }
    .markdown-body img {
        @apply max-w-full h-auto;
    }
    .markdown-body pre {
        @apply bg-gray-900 p-3 rounded m-5;
    }

    .markdown-body code {
        @apply font-mono text-white text-sm;
    }
    .markdown-body blockquote {
        @apply border-l-4 border-gray-400 pl-4 italic;
    }

}